.news-list.pc{max-width:50%;}
.news-list .slider {
margin-left: 50%;
	margin-right: 50%;margin-bottom: 250px;
}
.news-list [class^="news-tags"]{
	position:relative;
	top:60px;
	

margin-left:10px;
	
	

margin-top: -3px;z-index:1;
	display: inline-block;
	font-size: 80%;
	padding: 3px 10px;
	border-radius: 3px;
}
.slider__items {
	height: 

386px;
	width: 842px;
	position: 

relative;
}

.slider__item b {
	position: absolute;
	bottom: 70px;
	color: #5fa8ed;
	font: 18px var(--ui-font-family-secondary, var(--ui-font-family-

open-sans));
	font-weight: var(--ui-font-weight-semi-bold, 600);
}

.slider__item p {
	position: absolute; text-shadow: 1px 1px 2px black;
}

.slider__item img {
	height: 100%;
	width: 

100%;
	max-height: 100%;
	

min-height: 100%;

min-width: 840px;
min-height: 670px;	object-fit: cover;
}

.slider__item a:before {
	content: '';
	width: 100%;
	height: 100%;
	

position: absolute;
	top: 0;
	left: 0;
	background: 

linear-gradient(to bottom, transparent 70%, rgba(0, 0, 0, 0.6) 100%);
}

.slider__item span {
	bottom: 50px;
	position: 

absolute;
	color: #a4a4a4;

}

.slider__item .news-date-time {
	

padding-left: 20px;
font-size: 14px;
}

.btm-slides {
	position: relative;
	bottom: -500px;
	left: 35%;
	display: 

flex;
}

.right {
	right: -97%;
	top: 300px;
	width: 25px;
}

.left {
	top: 345px;
	width: 25px;
	padding-left: 5px;
}

.btm-slides span {
	height: 15px;
	width: 50px;
	border: 

2px solid white;
	margin: 0 3px;
	cursor: pointer;
}

.pokazatel-snimka {
	position: relative;
	transform: translateY(-50%);
	cursor: pointer;
}

.pokazatel-snimka:hover {
	

background: rgba(255, 255, 255, 0.2);
}

.pokazatel-snimka 

span {
	line-height: 41px;
	font-size: 35px;
	color: #5fa8ed;
}